<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='mystyle.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

{% if price_interval %}
<div class="alert alert-success alert-dismissible fade show" id="alert-predict" role="alert" style="font-size: larger;">
    Pretul chiriei intre: <strong> {{ price_interval }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="myCloseSucces()">
    <span aria-hidden="true">&times;</span>
    </button>

</div>

{% endif %}

{% if error_msg %}
<div class="alert alert-danger alert-dismissible fade show" id="alert-predict-error" role="alert" style="font-size: larger;">
    <strong> {{ error_msg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="myCloseError()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endif %}


<!--SECOND TAB-->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="cover-two">
        <h1>Detalii Apartament:</h1>
        <form action="/predict" method="post" class="form-flex" style="width:40%">

            <div class="form-group">
                        <label>Numar de camere</label>
                        <input type="number" name="rooms" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Suprafata construita</label>
                        <input type="number" name="built_area" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Suprafata utila</label>
                        <input type="number" name="livable_area" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Structura</label>
                        <select class="form-control" name="layout">
                            <option label="Decomandat" value="1">Decomandat</option>
                            <option label="Semidecomandat" value="2">Semidecomandat</option>
                            <option label="Nedecomandat" value="4">Nedecomandat</option>
                            <option label="Circular" value="3">Circular</option>
                            <option label="Vagon" value="5">Vagon</option>
                            <option label="N/A" value="-999" selected="selected">N/A</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Comfort</label>
                        <select class="form-control" name="comfort">
                            <option label="1" value="1">1</option>
                            <option label="2" value="2">2</option>
                            <option label="3" value="3">3</option>
                            <option label="N/A" value="-999" selected="selected">N/A</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Etaj</label>
                        <input type="number" name="floor" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Numar total etaje</label>
                        <input type="number" name="floors" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Numarul de balcoane</label>
                        <input type="number" name="balconies" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Numarul de balcoane inchise</label>
                        <input type="number" name="balconies_closed" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Numarul de bai</label>
                        <input type="number" name="bathrooms" class="form-control" placeholder="0">
                    </div>

                    {% if zones %}
                    <div class="form-group">
                        <label>Zone</label>
                        <select class="form-control" name="zone_id">
                            {% for zone in zones %}
                            <option label="{{ zone.name }}" value="{{ zone.zone_id }}">{{ zone.name }}</option>
                            {% endfor %}
                            <option label="N/A" value="-999" selected="selected">N/A</option>
                        </select>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label>Zone ID</label>
                        <input type="number" name="zone_id" class="form-control">
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label>Anul de constructie al blocului</label>
                        <input type="number" name="building_year" class="form-control" placeholder="0">
                    </div>

            <input class="btn btn-danger" type="submit" value="Submit" style="float: right">
        </form>
        <div class="row">
            <input class="btn btn-info btn-lg mt-4" type="submit" value="Introducere URL" onclick="closeNav()">
        </div>

    </div>
</div>


<!--FIRST TAB-->
<div class="container">

    <div class="cover">
    <h1>Pagina predictie</h1>
    <form action="/predict" method="post" class="flex-form">
      <label style="display: none">
        <i class="ion-location"></i>
      </label>
      <input type="search" name="url_to_crawl" placeholder="https://www.imobiliare.ro/inchirieri-garsoniere/bucuresti/doamna-ghica/garsoniera-de-inchiriat-XV04000N9">
      <input type="submit" value="Cauta">

    </form>
        <div style="float: right; color: white; margin-left: 250px;">
            <p style="font-size: 10px;">*website-uri suportate: imobiliare.ro, homezz.ro</p>
        </div>

        <div class="row">
            <input class="btn btn-info btn-lg mt-4" type="submit" value="Cautare manuala" onclick="openNav()">
        </div>
  </div>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

<script>
        function myCloseSucces(){
            document.getElementById('alert-predict').remove();
            document.getElementById('table-predict-succes').remove();
        }

        function myCloseError(){
            document.getElementById('alert-predict-error').remove();
        }
</script>

</body>
</html>

