<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #b3b0b0;">
{% if price_interval %}
<div class="alert alert-success alert-dismissible fade show" id="alert-predict" role="alert" style="font-size: larger;">
    Pretul chiriei intre: <strong> {{ price_interval }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="myCloseSucces()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endif %}

{% if error_msg %}
<div class="alert alert-danger alert-dismissible fade show" id="alert-predict-error" role="alert" style="font-size: larger;">
    <strong> {{ error_msg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="myCloseError()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endif %}

<div class="container">
    <div class="row justify-content-md-center">
        {% if specs %}
        <div class="col col-md-2 w-100 mr-5" id="table-predict-succes">
            <table class="table table-hover table-bordered table-dark">
                <thead>
                <th scope="col">
                    Specificatie
                </th>
                <th scope="col">
                    Valoare
<!--                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="myCloseSucces()">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
                </th>
                </thead>
                <tbody>
                {% for key, value in specs.items() %}
                    <tr>
                        <th scope="row">{{key}}</th>
                        {% if value != -999 %}
                        <td>{{value}}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        {% endif %}
        <div class="col col-md-8 mt-5">
            <h2>Pagina predictie</h2>
            <form class="" action="/predict" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>URL Apartament:</label>
                        <input type="text" name="url_to_crawl" class="form-control" placeholder="https://www.imobiliare.ro/inchirieri-garsoniere/bucuresti/doamna-ghica/garsoniera-de-inchiriat-XV04000N9">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <h3>Sau:</h3>
                    <div class="form-group">
                        <label>Numar de camere</label>
                        <input type="number" name="rooms" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Suprafata construita</label>
                        <input type="number" name="built_area" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Suprafata utila</label>
                        <input type="number" name="livable_area" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Structura</label>
                        <select class="form-control" name="layout">
                            <option label="Decomandat" value="1">Decomandat</option>
                            <option label="Semidecomandat" value="2">Semidecomandat</option>
                            <option label="Nedecomandat" value="4">Nedecomandat</option>
                            <option label="Circular" value="3">Circular</option>
                            <option label="Vagon" value="5">Vagon</option>
                            <option label="N/A" value="-999" selected="selected">N/A</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Comfort</label>
                        <select class="form-control" name="comfort">
                            <option label="1" value="1">1</option>
                            <option label="2" value="2">2</option>
                            <option label="3" value="3">3</option>
                            <option label="N/A" value="-999" selected="selected">N/A</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Etaj</label>
                        <input type="number" name="floor" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Numar total etaje</label>
                        <input type="number" name="floors" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Numarul de balcoane</label>
                        <input type="number" name="balconies" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Numarul de balcoane inchise</label>
                        <input type="number" name="balconies_closed" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>Numarul de bai</label>
                        <input type="number" name="bathrooms" class="form-control" placeholder="0">
                    </div>

                    {% if zones %}
<!--                    <div class="form-group">-->
<!--                        <label>Zone</label>-->
<!--                        <input type="text" list="zones-list" name="zone_id" class="form-control" />-->
<!--                        <datalist id="zones-list">-->
<!--                        {% for zone in zones %}-->
<!--                          <option label="{{ zone.name }}" value="{{ zone.zone_id }}">{{ zone.name }}</option>-->
<!--                        {% endfor %}-->
<!--                        </datalist>-->
<!--                    </div>-->

                    <div class="form-group">
                        <label>Zone</label>
                        <select class="form-control" name="zone_id">
                            {% for zone in zones %}
                            <option label="{{ zone.name }}" value="{{ zone.zone_id }}">{{ zone.name }}</option>
                            {% endfor %}
                            <option label="N/A" value="-999" selected="selected">N/A</option>
                        </select>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label>Zone ID</label>
                        <input type="number" name="zone_id" class="form-control">
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label>Anul de constructie al blocului</label>
                        <input type="number" name="building_year" class="form-control" placeholder="0">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
        function myCloseSucces(){
            document.getElementById('alert-predict').remove();
            document.getElementById('table-predict-succes').remove();
        }

        function myCloseError(){
            document.getElementById('alert-predict-error').remove();
        }
    </script>


</body>
</html>

